<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SowbhagyaBiotech"
        tools:targetApi="31">
        <activity
            android:name=".ui.profile.AddNewAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.EditAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.MyAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.TermsAndConditionsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ReturnPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ShippingPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ContactUsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.web_url.WebViewUrilLoad"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.product.ProducatDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authentication.RegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BlogActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".intro.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authentication.Otp_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".intro.GettingStartedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.cart.Payment_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home_Activity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SowbhagyaBiotech.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>